* {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("img/arduino-small.png");
  background-color: #000;
  text-align: center;
  color: #fff;
}
div.body-background {
  position: fixed;
  top: 1px;
  right: 1px;
  background-color: rgba(0,0,0,0.8);
  width: 120%;
  height: 120%;
  z-index: 1;
}
div.body-wrap {
  width: 100%;
  position: absolute;
  top: 1px;
  right: 1px;
  z-index: 1000;
}
div.body-wrap div.mogra-logo {
  background-image: url("img/mogra-logo.gif");
  height: 26px;
}
div#ufo-wrap {
  position: absolute;
  top: 1px;
}
div#ufo-wrap .ufo_move {
  display: none;
}
video.nikogi {
  z-index: 1100;
  border: 2px solid #800080;
}
a {
  color: #fff;
}
a.block {
  text-decoration: none;
  display: block;
}
hr {
  margin: 80px 0px;
}
/*
  background-image: url(img/mogra-logo.gif)
  background-repeat: repeat-x
  height: 32px
  */
h1,
h2,
h3,
h4 {
  padding: 20px;
}
h2 {
  font-size: 30px;
}
h3 {
  font-size: 40px;
}
h4 {
  font-size: 50px;
}
p {
  width: 70%;
  margin: 25px auto;
  font-size: 24px;
}
ul.list-small {
  display: block;
  width: 450px;
  margin: auto;
  text-align: left;
}
ul.list {
  display: block;
  width: auto;
  margin: 300px;
  text-align: left;
}
div.human p {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}
table {
  margin: auto;
}
div.led-wrap {
  width: 300px;
  height: 100px;
  margin: auto;
}
div.led {
  float: left;
  width: 60px;
  height: 100px;
  background-image: url("img/3LED-s.gif");
  background-position: 190px 0px;
}
