doctype html5
html
  head
    title 秋葉原メイカーズ倶楽部 11/24 @ mogra
    meta(charset="utf-8")
    meta(name="description", content="秋葉原メイカーズ倶楽部")
    meta(property="og:title", content="秋葉原メイカーズ倶楽部 11/24 @ mogra")
    meta(property="og:description", content="11月24日（月・祝日）に秋葉原クラブMOGRAで開催される「秋葉原メイカーズ倶楽部」の告知サイトです")
    meta(property="og:type", content="website")
    meta(property="og:url", content="http://akiba-maker-club.cs8.biz/")
    meta(property="og:image", content="http://akiba-maker-club.cs8.biz/img/morphy_one.jpg")
    meta(property="og:site_name", content="秋葉原メイカーズ倶楽部 11/24 @ mogra")

    link(rel="stylesheet", href="index.css")
  body
    block body
      div.body-background
      div.body-wrap
        h1
          img(src="img/coollogo.gif")
        h2
          a.block(href="http://club-mogra.jp/", target="_blank") 秋葉原 club MOGRA
        h2 東京都台東区秋葉原3-11 B1F
        h2 11月24日 （月・祝日）
        h2 18:00 - 22:00
        hr
        p メイカーとクラバーの溝を秋葉原MOGRAで縮めたい！！そうすれば未来のクラブイベントはもっと面白くなるはずだ！！！！！！
        p そんな思いを元に11月24日（月・祝日）<strong> お台場で開催されるあのイベント </strong>の非公式アフタークラブイベントとして万を持して開催します。
        hr
        div.logo-wrap
          a.block(href="http://club-mogra.jp/", target="_blank")
            div.mogra-logo
            div.mogra-logo
          div.gnu-make-books
            each i in [0,1,2]
              a(href="http://www.amazon.co.jp/gp/product/0596006101", target="_blank")
                img.gnu-make-book(src="img/make-book.jpg", width="200")
          a.block(href="http://club-mogra.jp/", target="_blank")
            div.mogra-logo
            div.mogra-logo
        hr
        h3 入場料 3000円 (１ドリンクつき)
        p 受け付けで以下のものを提示した場合、500円割り引きします
        ul.list-small
          li Maker Fair Tokyo 2014 落選通知メール
          li Arduino, Raspberry Pi
          li はんだゴテ
          li LED
          li プロジェクター
          li レーザー
          li コスプレ (小さい着替えテントあり)
        hr
        div#tweetbuttons1
        hr
        //hr
        //h3 Special
          div.human ミクミンP and pepper
        div.dj-wrap
          h3 DJ/LIVE
          div.human
            h4 dj wild party
            img(src="img/djwildparty.jpg", width="300px")
            br
            <iframe width="500" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/647393&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            p 
              | 18歳でキャリアをスタート。当初のブレイクコアから徐々にジャンルの幅を広げていき、頭角をあらわしていく。
              | DOMMUNEのプログラム『MP3 KILLED CD STARS』出演時に、エレクトロ、ヒップホップ、アイドルポップ、アニソン、ゲーム音楽、ブレイクコア、歌謡まで貪り尽くすウルトラ・ボーダーレスなDJを披露し一躍注目を集める。
            p 
              | 2012年に入ると３月に自身の初メジャーリリースとなる『MOGRA MIX VOL.1 mixed by DJWILDPARTY』をEMIよりリリースする他、
              | 7月にはLAで開催されたANIME EXPOに出演し2000人のオーディエンスをロックし大きなニュースとなった。
            p その後、覆面ユニット、OL Killerに電撃加入を果たし、FUJI ROCK FESTIVAL 2012に出演。さらに香港で開催された秋葉東京に参加するなど、その活動を世界へと広げている。

          div.human
            h4 コバルト爆弾αΩ
            img(src="img/cobalt.png", width="300px")
            br
            <iframe width="500" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1985673&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            p 多種多様なオタク（思想家,留学生,映画秘宝購読者,漫画,アニメ,エンジニア,インタラクション・エディトリアル・グラフィックデザイナー,同人作家,作曲家,楽器開発者,都市農業家,ランドスケープ・アーキテクト,映像ディレクター,一級建築士,ガンダム,図書館）によるギーク×ナード集団。
            p これまでDENPA!!!、秋葉原MOGRA、Maker Faire Tokyo、混浴温泉世界、大学祭等のイベントに出演。
            p お気入りのマルチメディア（音楽・映画・アニメ・漫画・書物）を各自が自作アプリで編集・再生するDVJ、”AZUMA HITOMI”の演奏に連動したインタラクティブVJ、”未来美術家 遠藤一郎”、”現代美術家 愛☆まどんな”に向けたライブペイント向けのシステム開発、秋葉系VJソフト”あのタグで待ってる”の発表、Maltine Records “MP3 Killed the CD Star?”への楽曲提供や、でんぱ組.inc “夢眠ねむ”、”AZUMA HITOMI”へのRemix提供といった爆撃を行ってきた。

          div.human
            h4 TORIENA × きゅんくん × LuminouShare
            img(src="img/kynkun_toriena_lumine.jpg", height="300px")
            br
            <iframe width="500" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/5312739&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            p Gameboy実機のみを使ってトラックメイクとライブ活動を行っているチップチューン女子TORIENAと、着るロボットを作るロボティクスファッションクリエイターきゅんくん、そしてLEDの光り方の操作をシェアすることで誰でも簡単に美しい・かっこいい光り方を手に入れられるWebサービスLuminouShareがコラボレーション。

          div.human
            h4 yako_flapper3
            img(src="img/yako.jpg", width="300px")
            p 2010年よりトラックメーカーのGo-qualiaとともにオンラインレーベル"Bunkai-Kei records"を主宰。分解系でのリリース・企画のプロデュースをするほか、「OUT OF DOTS」や「Re-Union」「大ネットレーベル祭」などのイベントオーガナイズやDJとして活動。
            p 分解系レコーズ「CreativeCommandsCompilationData」のリリースにて2012年に文化庁メディア芸術祭審査委員会推薦作品賞を受賞。
            p またVJとしてWOMB ADVENTURE、sonar sound tokyo、Road to ULTRA等VJ出演、VJソフトmotion dive.tokyo performance package映像ディレクション、VJバトル"VisualJam vol.2"優勝。
            p 2002年よりメディアデザインプロダクションflapper3 Inc.の設立メンバーとしても活動し、Go-qualia・kz (livetune)・BUMP OF CHICKEN・古川本舗などのMV制作や、初音ミク「マジカルミライ2014」・安室奈美恵・倖田來未・Salyuなどのコンサート演出映像等を手掛けている。

          div.human
            h4 Ca5
            img(src="img/ca5.jpg", height="300px")
            br
            <iframe width="500" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/1795762&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            p Otherman Records Key Memberの一人。Chipbreakを中心とした曲作りや、Max/MSPを利用した複数デバイス+複数ソフトウェアを連携させる仕組みを考えたりするのを得意とする。

          div.human
            h4 tomad
            img(src="img/tomad.jpg", width="300px")
            br
            <iframe width="500" height="400" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/683230&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
            p インターネットレーベル「Maltine Records」主宰。2006年頃からラップトップを使ったDJ活動開始。都内を中心にLIQUIDROOMやUNIT、AIR、MOGRAなど様々なクラブでプレイ。2009年から都内のクラブにて年数回のペースで自身レーベルのイベントオーガナイズもしている。

        hr
        h3 VJ／LJ
          div.human
            h4 sskhybrid
            img(src="img/sskhybrid.jpg", width="300px")
            p tofubeatsのMVやMaltine Recordsでのアートワーク制作など活動は多岐にわたるが、VJでかっこよく図形が動いたりしない。
          div.human
            h4 コバルト爆弾αΩ
          div.human
            h4 VJ ひゃっほー + ayafuji
          div.human
            h4 m7kenji
          div.human
            h4 (TORIENA × きゅんくん × LuminouShare 映像演出）
        //hr
        //h3 TIME TABLE
          table(border=1)
            tr
              th 時間
              th DJ
            tr
              td 18:00-18:00
              td xxxx
            tr
              td 18:00-18:00
              td xxxx
        hr
        h3 主催
        div.human
          h4 tks
          img(src="img/tks-kirei.jpg", width="300px")
          p ニコニコ学会β実行委員。
          p 2008年頃からMake系イベントとMOGRA系イベントにハマり、チームラボMake部を立ち上げて様々なイベントに参加。「よくわからない物であふれているけどなんだかみんな楽しそう」なイベントが好き。
          p 最近は日本のMakerやクラブの雰囲気を海外に紹介する「ニコ技輸出」活動を行っている。
          p 「彼は始終興奮していて、イベント会場のどこにでもいた」（米MakerMedia代表 デール・ドハティ）
          p 「技術の人という印象をまったく壊し、すごくアクティブに見える」(中国 雷峰網)
          p など、海外でも元気に活動している模様
        div.human
          h4 tomad
          img(src="img/tomad-aibo.jpg", width="300px")
        h3 協力
        div.human
          h4 オタサー
        hr
        div#tweetbuttons2
        div#ufo-wrap
        hr

    block scripts
      script(src="lib/underscore/underscore.js")
      script(src="lib/jquery/jquery.js")
      script(src="lib/jquery-ui/jquery-ui.js")
      script(src="lib/jquery-pikapika/jquery.pikapika.js")
      script(src="js/jquery-kabuki.js")
      script(src="index.js")

